* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#toggleButton {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.25em;
}

#toggleButton:focus {
  outline: 0;
}

#UserList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.User {
  border: 1px solid black;
  border-radius: 50px;
  margin: 10px;
  height: 30%;
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.UserName {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.UserThings {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

#signature {
  font-style: italic;
}